<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>releaseConfigURL</key>
	<string>https://checkout.hyperswitch.io/assets/v1</string>
	<key>fileName</key>
	<string>hyperswitch.bundle</string>
	<key>localAssets</key>
	<false/>
	<key>forceUpdate</key>
	<true/>
	<key>clientId</key>
	<string>hyperswitch</string>
	<key>namespace</key>
	<string>hyperswitch</string>
</dict>
</plist>
